
<br>
<% flash.each do |type, mssg| %>
  <% if mssg.is_a?(String) %>
    <div data-alert class="alert-box round <%= type.to_s == "notice" ? "success" : "alert" %>">
      <%= content_tag :div, mssg %>
      <a href="#" class="close">&times;</a>
    </div>
  <% end %>
<% end %>
